html {
  /* 一个单位是 1px， 1rem 是 1/4 px */
  font-size: 4px;
}

::-webkit-scrollbar {
  height: 6px;
  width: 6px;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(195, 198, 209, 0.3);
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #a9acaf;
}
